# This is Git's per-user configuration file.
[user]
	name = Nicholas Minor
	email = nicholasrminor@gmail.com

[pull]
	rebase = false
[init]
	defaultBranch = main
[safe]
	directory = /Users/nickminor/Documents/bioinformatics
