# This is Git's per-user configuration file.
[user]
	name = Nicholas Minor
	email = nicholasrminor@gmail.com

[pull]
	rebase = false
[init]
	defaultBranch = main
[safe]
	directory = /Users/nickminor/Documents/bioinformatics
[http]
	postBuffer = 157286400
[core]
	editor = hx
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
	side-by-side = true
    navigate = true  # use n and N to move between diff sections
    # dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictstyle = zdiff3
# [diff]
# 	external = difft
